/*colors*/

* {
    font-family: "Overpass", sans-serif;
    margin: 0;
    padding: 0;
    
  }
  @font-face {
    font-family: Pecita;
    src: url(fonts/Pecita.otf);
  }
  
  html {
    --dark: #231f20;
    --pink: #b76567;
    --brown: #2e140c;
    --white: #ffffff;
    --orange: #d06809;
    --beige: #dcc3ab;
    --orange-hover: #f37400;
    --pink-hover: #e07b7d;
  }
  
  /*Header*/
  header {
    background: transparent;
  }
  
  .sticky /* this is for fixed header, we will do it in js later*/ {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: var(--white);
  }
  
  header nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 10vw;
    margin-right: 10vw;
    padding: 10px 0;
  }
  
  #language-selector {
    display: flex;
    gap: 0px;
    flex-direction: row;
    padding-right: 103px;
    text-transform: uppercase;
  }
  
  .language-selector-font {
    font-weight: 700;
  }
  
  header nav div p {
    padding: 4px 4px 4px 4px;
    margin: 0;
  }
  
  header nav ul {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 24px;
    min-width: 50%;
    margin: 0;
    padding: 0;
    list-style-type: none;
  }
  
  header nav ul li a {
    color: var(--dark);
    text-decoration: none;
    font-size: 1rem;
    padding: 0;
  }
  
  .Header-icons-container {
    display: flex;
    gap: 20px;
  }
  
  header nav div a {
    padding: 10px 10px 6px 10px;
  }
  
  .Header_logo {
    height: 50px;
  }
  body {
    background-image: url(icons/Backgroud\ icon.svg);
  }

  /*MAIN*/
  

#cart-icon {
  display: block;
  margin: auto;
  margin-bottom: 30px;
  width: 80px;
  margin-top: 50px;
}
.thanks {
  text-align: center;
  font-weight: 800;
  font-size: 22px;
  font-family: overpass;
  padding-bottom: 1vw;
}
.messages {
  text-align: center;
}
.order {
  text-align: center;
  font-weight: 700;
  font-size: 16px;
  font-family: overpass;
  padding-top: 1vw;
}

.line {
    margin-bottom: 3rem;
    border-bottom: 3px solid var(--pink);
    width: 50%;
    padding-top: 2vw;
    display: block;
    margin: auto;
}

.details {
    text-align: center;
    padding-top: 2vw;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding-left: 350px;
    padding-right: 350px;
}
.details2 {
  text-align: center;
    padding-top: 2vw;
    padding-bottom: 2vw;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding-left: 350px;
    padding-right: 350px;
}

.title{
    color: var(--pink);
    font-family: "Overpass", Bold 700;
}

.button-continue-shopping {
    display: flex;
    padding: 20px 60px 18px 60px;
    width: 150px;
    height: 15px;
    justify-content: center;
    align-items: center;
    border-radius: 7px;
    background: var(--pink);
    text-decoration: none;
    list-style-type: none;
    flex-direction: column;
    display: block;
    margin: auto;
  }
  
  .button-text {
    color: var(--white);
    text-align: center;
    font-family: Overpass;
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    line-height: 110%;
  }
  
  .button-discover-more :hover {
    color: var(--orange-hover);
  }


  /*Footer*/

footer {
    background-color: var(--brown);
    padding-top: 50px;
    padding-bottom: 20px;
    margin-top: 3vw;
  }
  footer nav {
    display: flex;
    flex-direction: row;
    justify-items: center;
    align-items: center;
    justify-content: space-between;
    gap: 60px;
    margin-left: 10vw;
    margin-right: 10vw;
  }
  .footer-links-container {
    display: inline-flex;
    align-items: flex-start;
    gap: 60px;
  }
  footer nav section ul {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
    padding: 0;
    margin: 0;
  }
  .footer-text-underlined {
    font-size: 16px;
    font-weight: 300;
    line-height: normal;
    text-decoration-line: underline;
    color: var(--white);
    list-style-type: none;
  }
  
  .footer-text-underlined :hover {
    color: var(--pink-hover);
    text-decoration-line: underline;
    text-decoration-color: var(--pink-hover);
  }
  
  .footer-text {
    font-size: 16px;
    font-weight: 300;
    line-height: normal;
    text-decoration: none;
    color: var(--white);
    list-style-type: none;
  }
  
  .footer-text :hover {
    color: var(--pink-hover);
  }
  
  .Footer_icons-container {
    display: inline-flex;
    align-items: flex-start;
    gap: 1rem;
    margin: 0;
    padding: 0;
  }
  
  .Footer-icons {
    padding: 8px 8px 6px 8px;
  }
  
  .Footer_logo {
    max-width: 350px;
  }
  
  footer p {
    display: flex;
    justify-content: center;
    text-align: center;
    color: var(--white);
    font-size: 14px;
    font-weight: 100;
    padding-top: 20px;
  }
  
  