/*colors*/
* {
    font-family: "Overpass", sans-serif;
    margin: 0;
    padding: 0;
  }
  @font-face {
    font-family: Pecita;
    src: url(fonts/Pecita.otf);
  }
  
  html {
    --dark: #231f20;
    --pink: #b76567;
    --brown: #2e140c;
    --white: #ffffff;
    --orange: #d06809;
    --beige: #dcc3ab;
    --orange-hover: #f37400;
    --pink-hover: #e07b7d;
  }
  
  
  header {
    background: transparent;
  }
  
  .sticky /* this is for fixed header, we will do it in js later*/ {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: var(--white);
  }
  
  header nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 10vw;
    margin-right: 10vw;
    padding: 10px 0;
  }
  
  #language-selector {
    display: flex;
    gap: 0px;
    flex-direction: row;
    padding-right: 103px;
    text-transform: uppercase;
  }
  
  .language-selector-font {
    font-weight: 700;
  }
  
  header nav div p {
    padding: 4px 4px 4px 4px;
    margin: 0;
  }
  
  header nav ul {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 24px;
    min-width: 50%;
    margin: 0;
    padding: 0;
    list-style-type: none;
  }
  
  header nav ul li a {
    color: var(--dark);
    text-decoration: none;
    font-size: 1rem;
    padding: 0;
  }
  
  .Header-icons-container {
    display: flex;
    gap: 20px;
  }
  
  header nav div a {
    padding: 10px 10px 6px 10px;
  }
  
  .Header_logo {
    height: 50px;
  } 

  body {
    background-image: url(icons/Backgroud\ icon.svg);
    margin: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
  }

  h1 {
    font-size: 44px;
    font-family: nanummyeongjo;
    text-align: center;
    padding-top: 30px;
    font-weight: 400;
}
 
  h3 {
    font-family: overpass;
    font-size: 24px;
    padding-top: 30px;
    padding-bottom: 30px;
  }
  h5 {
    font-size: 16px;
    font-family: overpass;
    font-weight: 500;
  }
  h2 {
    font-family: overpass;
    font-size: 22px;
    font-weight: 400;
  }
.container {
    display: flex;
    justify-content: space-between;
    margin-top: 90px;
    margin-bottom: 180px;
    backdrop-filter: blur(10px);
  }

main {
    display: flex;
    flex-direction: row;
    float: left;
    width: 49%;

    margin-bottom: 180px;
    padding-left: 10vw;

}
.img {
    width: 30%;
    float: left;
    margin-right: 2em;
}
.icons {
    padding: 2.5em 0 0 10em;
}
.can {
    background-color: #dcc3ab;
    border: none;
    margin-bottom: 9em;
    padding: 7px 11px;
    border-radius: 5px; 
}
.fa-solid {
    font-size: 10px;
}

select {
  background-color: #DCC3AB;
  border: none;
  border-radius: 5px;
  padding: 5px;
  width: 60px;
  margin-top: 55px;
}

.descripition {
    padding-top: 100px;
}

aside {
    width: 25%;
    padding-right: 10vw;
    padding-bottom: 10em;
  }


.fl {
    font-size: 16px;
    font-family: overpass;
    font-weight: 600;
    padding-top: 10px;
    padding-bottom: 10px;
}
.fr {
    font-family: overpass; 
    font-size: 14px;
    border-radius: 5px; 
}

.sl, .sr, .tl, .tr {
    font-size: 18px;
    font-family: overpass;
    font-weight: 300;
}
.fol, .for {
    font-size: 22px;
    font-family: overpass;
    font-weight: 600;
    padding-top: 10px;
    padding-bottom: 30px;
}

.first, .second, .third, .forth {
    display: grid;
    grid-template-columns: 70% 30%;
}
.fr, .sr, .tr,.for {
    text-align: right;
}

.fr {
    padding-top: 5px;
}
.first {
    border-top: solid;
    border-bottom: solid;
    border-width: 1px;
    border-color: black;
    padding-top: 10px;
    padding-bottom: 10px;
}
.second {
    padding-top: 3em;
}
.third {
    border-bottom: solid;
    border-width: 1px;
    padding-bottom: 10px;
    
}

.check {
    padding: 1em 38%;
}
.apply {
    padding: 10px 20px;
}
.apply, .check {
    color: white;
    background-color: #d06809;
    border-radius: 4px;
    border: none;
}

.button-checkout :hover {
    color: var(--orange-hover);
    cursor: pointer;
  }
  .may-like {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 3vw 1vw;
  padding-bottom: 50px;
  }

  .center-text {
    grid-column-start: 1;
  grid-column-end: 5;
  padding-top: 5px;
  padding-bottom: 0%;
  }
.product-card div {
    width: 100px;
    float: left;
}
.product-card img {
    width: 80%;
    margin: 20px;
}
.product-card h4 {
    margin: 20px;
}

.heart {
    display: block;
    position: relative;
    bottom: 480px;
    left: 20px;
    cursor: pointer;
    background-color: transparent;
    border-color: transparent;
  }
  .image {
    max-width: 40%;
  }


footer {
    background-color: var(--brown);
    padding-top: 50px;
    padding-bottom: 20px;
  }
  footer nav {
    display: flex;
    flex-direction: row;
    justify-items: center;
    align-items: center;
    justify-content: space-between;
    gap: 60px;
    margin-left: 10vw;
    margin-right: 10vw;
  }
  .footer-links-container {
    display: inline-flex;
    align-items: flex-start;
    gap: 60px;
  }
  footer nav section ul {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
    padding: 0;
    margin: 0;
  }
  .footer-text-underlined {
    font-size: 16px;
    font-weight: 300;
    line-height: normal;
    text-decoration-line: underline;
    color: var(--white);
    list-style-type: none;
  }
  
  .footer-text-underlined :hover {
    color: var(--pink-hover);
    text-decoration-line: underline;
    text-decoration-color: var(--pink-hover);
  }
  
  .footer-text {
    font-size: 16px;
    font-weight: 300;
    line-height: normal;
    text-decoration: none;
    color: var(--white);
    list-style-type: none;
  }
  
  .footer-text :hover {
    color: var(--pink-hover);
  }
  
  .Footer_icons-container {
    display: inline-flex;
    align-items: flex-start;
    gap: 1rem;
    margin: 0;
    padding: 0;
  }
  
  .Footer-icons {
    padding: 8px 8px 6px 8px;
  }
  
  .Footer_logo {
    max-width: 350px;
  }
  
  footer p {
    display: flex;
    justify-content: center;
    text-align: center;
    color: var(--white);
    font-size: 14px;
    font-weight: 100;
    padding-top: 20px;
  }
  
  @media screen and (max-width: 1400px) {
    .Footer_logo {
      max-width: 250px;
    }
    .footer-text {
      font-size: 14px;
    }
    .footer-text-underlined {
      font-size: 14px;
    }
  }
  